html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

.image{
  height: 50px;
  width: 50px;
}
.logo{
  height: 100px;
  width: 100px;
  border-radius:50px;
}